{% extends 'store/base.html' %}

{% block content %}
<h2>My Orders</h2>

{% if order %}
<table style="width:100%; border-collapse: collapse; margin-top: 20px;">
    <tr style = "background-color:  #f8f8f8;">
        <th style = "padding: 10px; border: 1px solid #ddd;">Order ID</th>
        <th style = "padding: 10px; border: 1px solid #ddd;">Date</th>
        <th style = "padding: 10px; border: 1px solid #ddd;">Total</th>
        <th style = "padding: 10px; border: 1px solid #ddd;">Status</th>
        <th style = "padding: 10px; border: 1px solid #ddd;">Tracking</th>
    </tr>

    {% for order in orders %}
    <tr>
        <th style = "padding: 10px; border: 1px solid #ddd;">#{{ order.id }}</th>
        <th style = "padding: 10px; border: 1px solid #ddd;">{{ order.created_at|date:"y-m-d H:i" }}</th>
        <th style = "padding: 10px; border: 1px solid #ddd;">R {{order.total }}</th>
        <th style = "padding: 10px; border: 1px solid #ddd;">{{ order.get_staus_display }}</th>
        <td style = "padding: 10px; border: 1px solid #ddd;">
            {% if order.tracking_number %}
                {{ order.tracking_number }} ({{ order.courier }})
            {% endif %}
        </td>           
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You have not placed any orders yet</p>    
{% endif %}

{% endblock %}
