{% extends 'store/base.html' %}

{% block content %}
    <h1 class = "text-center">About Us</h1><br><br>

    <p class = "text-center">
       <b style = "color: gray">Welcome to SoulSoles.co — South Africa’s trusted destination for exclusive universal sneaker drops.</b><br>

        Founded to bridge the gap between local demand and global sneaker culture, SoulSoles.co brings the world’s most sought-after sneakers directly to South African buyers.<br>
        All our pairs are sourced directly from abroad — including rare, limited-edition releases — and shipped with two delivery options: <b style = "color: gray">Standard</b> and <b style = "color: gray">Premium</b>.<br>
        We know international sneaker buying can feel risky. That’s why SoulSoles.co is partnered with an independent escrow financial service — your payment is securely held until your order is confirmed delivered.<br>
        Whether you're a collector, reseller, or style enthusiast, we provide peace of mind every step of the way.<br><br>

        <b style = "color: gray">WELCOME TO SNEAKER LUXURY, BUILT ON TRUST</b>
    </p>
        
         <!--Because international Shippingcan take time: <br>
        <ul class = "text-center">
            <p><b> Because international Shippingcan take time: </b><br></p>
            <li>Standard Delivery: Estimated 3 months </li>
            <li>Premium Delivery: 3-4 weeks (with extra costs)</li>-->

        </ul><br>
    <p class = "text-center">
        We understand that trust is everything , espically when orders take time to arrive <br>
        Thats why we've integrated escrow system, a payment service that protects your money.
    </p>
  

    
    <h2 class="text-center">How it works</h2>
    
        <ul class = "text-center">
            <li>When you order, your payment is held securely by our escrow services.</li>
            <li>As the shipping process commences you will receive a tracking number, to keep track of your order</li>
            <li>Once your order is successfully delivered and confirmed, then only we will receive the payment</li>
            <li>In-case of issues occuring, you can log an appeal, and a refund will be issued after the review though they can be lodged once the product has been delivered</li>
        </ul>

    <h2 class="text-center">Sourcing from us</h2>
     <p class= "text-center">
    In order to meet the diverse needs of customers in owning Authentic shoes, clothes, and accessories from famous brands.<br>
    SoulSoles.co has a service to receive orders (Buy on demand).<br> 
    With 3 years of prestige and seniority in this field, we guarantee Auth Standard Products - Fastest Order Time - Best Order Price!
    </p>
    
        <ul class = "text-center" ><b>
            <li>Navigate to sourcing page</li>
            <li>Fill and submit form</li>
            <li>We will get back to you by email, so be sure to check it within the next 48 hours</li>
        </ul></b>

        <p class= "text-center">
            SoulSoles will advise the appropriate size, notify the status of the goods at the seller, the estimated time to receive the goods and quote the best order for you.<br>
            To ensure the interests of all customers, SoulSoles stipulates a deposit of 30% - 50% of the value of the order in advance.<br>
            After paying the deposit, SoulSole.co will confirm the payment and send a email with a order confirmation form.<br>
            We will proceed with the order process as soon as the order is confirmed. The delivery time is from <b>3 weeks to 4 weeks</b><br>
            (Depending on the ordering country and some objective factors, the goods may arrive faster or later than expected).<br>
            After the goods arrive, Soulsoles will contact you to inform and schedule a delivery time. The rest of the order payment will be needed to start the delivery process
        </p><br>
    
        <ul style="color: gray;" class= "text-center">
        <p style="color: gray;" class= "text-center">Notes:</p>
            <li>Products are ordered from the UK (UK), US (US), Japan (JP), South Korea (KR), China (CN),...</li>
            <li>All products are committed to <strong>100% genuine</strong></li>
            <li>Orders <strong>do not</strong> support size change and sample change</li>
            <li>The order price depends on the time of order</li>

        </ul>

    <h2  class = "text-center">The standard sourcing package</h2>
    <ul  class = "text-center">
        <li>Shipping: <b style = "color: gray">2 - 3 months</b></li>
        <li>Customs inclusive</li>
        <li>Rarely avaliable </li>
    </ul class = "text-center">
    <h2 class = "text-center">The premium sourcing package<br></h2>
    <ul class = "text-center">
        <li>Shipping: <b style = "color: gray">3 - 4 weeks</b></li>
        <li>Customs exclusive</li>
    </ul>

   
{% endblock %}
